<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rally"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZt2tKHejWOtLWkIT64JLGHifjUPomV7M"/>

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.MatConditionActivity"/>
        <activity android:name=".ui.MatTypeActivity"/>
        <activity android:name=".ui.SetTimeActivity"/>
        <activity android:name=".ui.SetLocationActivity"/>
        <activity android:name=".ui.SearchLocationActivity"/>
        <activity android:name=".ui.PopupLocationActivity" android:theme="@style/PopupTheme" />
        <activity android:name=".ui.PopupConfirmActivity" android:theme="@style/PopupTheme" />
        <activity android:name=".ui.LoadingActivity"/>
        <activity android:name=".ui.CandidateActivity"/>
        <activity android:name=".ui.CandidateNullActivity" />
        <activity android:name=".ui.PopupCandidateDetailActivity" android:theme="@style/PopupTheme"/>
        <activity android:name=".ui.PopupInviteActivity" android:theme="@style/PopupTheme"/>
        <activity android:name=".ui.AuthActivity"/>
        <activity android:name=".ui.SurveyActivity"/>
    </application>

</manifest>